/* html, body{
    background-image: url('../images/gameboy.png');
    background-size: 140%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 70%;
} */

.container{
    position: relative;
}

.gameboy-advance{
    width: 120%;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas{
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

#start{
    font-size: 70px;
    font-family: Comic Sans MS;
    /* margin-left: 650px; */
    top: 7%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    border-style: none;
}

#start:hover{
    background-color: #3164AF; 
    color: #FFCC01;
    cursor: pointer
}

#fight{
    font-size: 50px;
    font-family: Comic Sans MS;
    background-color: white;
    /* margin-left: 670px;
    margin-top: 430px; */
    top: 67%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 220px;
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    border-style: none;
    display: none;
}

#fight:hover{
    cursor: pointer
}