/* html, body{
    background-image: url('../images/gameboy.png');
    background-size: 140%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 70%;
} */

.container{
    position: relative;
}

.gameboy-advance{
    width: 120%;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro{
    z-index: 19;
    position: fixed;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 740px;
    height: 490px;
}

#canvas{
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

#start{
    font-size: 70px;
    font-family: Comic Sans MS;
    /* margin-left: 650px; */
    top: 7%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    border-style: none;
}

#start:hover{
    background-color: #3164AF; 
    color: #FFCC01;
    cursor: pointer
}

#fight{
    font-size: 35px;
    font-family: Comic Sans MS;
    background-color: white;
    top: 68%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 160px;
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    display: none;
}

#fight:hover{
    cursor: pointer
}

#attack{
    font-size: 35px;
    font-family: Comic Sans MS;
    background-color: white;
    top: 77%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 160px;
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    display: none;
}

#attack:hover{
    cursor: pointer
}

#defense{
    font-size: 35px;
    font-family: Comic Sans MS;
    background-color: white;
    top: 77%;
    left: 64%;
    transform: translate(-50%, -50%);
    width: 160px;
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    display: none;
}

#defense:hover{
    cursor: pointer
}

#playertext{
    font-size: 25px;
    font-family: Comic Sans MS;
    background-color: white;
    top: 66%;
    left: 36%;
    transform: translate(-50%, -50%);
    /* width: 160px; */
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    /* display: none; */
    /* border: 2px solid red; */
}

#pctext{
    font-size: 25px;
    font-family: Comic Sans MS;
    background-color: white;
    top: 74%;
    left: 36%;
    transform: translate(-50%, -50%);
    /* width: 160px; */
    border-radius: 12px;
    z-index: 100;
    position: fixed;
    /* display: none; */
    /* border: 2px solid red; */
}