/* html, body{
    background-image: url('../images/gameboy.png');
    background-size: 140%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 70%;
} */

.container{
    position: relative;
}

.gameboy-advance{
    width: 120%;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#canvas{
    /* position: relative; */
    z-index: 20;
    border: 2px solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: -50px;
    margin-left: -100px; */
    /* margin: 75px 0 0 370px; */
}

#start{
    font-size: 70px;
    margin-left: 650px;
    border-radius: 12px;
    z-index: 100;
    position: fixed;
}

#start:hover{
    background-color: #3164AF; 
    color: #FFCC01;
    cursor: pointer
}